.navbar {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;

}


.navbar__left {
    display: flex;
    flex: 0.1;
    align-items: center;
    justify-content:space-between;
    margin-left: 50px;
}


.navbar__left > * {
    margin-right: 50px;

}

.navbar__left__image > img {
    max-width: 50px;
    max-height: 50px;
}

.navbar__men {
    font-weight: bold;
    color: rgb(75, 74, 74);
    font-size: medium;
}

.navbar__men:hover {
    text-decoration: underline solid #b09cf0;  
}


.navbar__women {
    font-weight: bold;
    color: rgb(75, 74, 74);
    font-size: medium;
}

.navbar__women:hover {
    text-decoration: underline solid #b09cf0;  
}


.navbar__kids {
    font-weight: bold;
    color: rgb(75, 74, 74);
    font-size: medium;
}

.navbar__kids:hover {
    text-decoration: underline solid #b09cf0;  
}








.navbar__search {
    display: flex;
    flex: 0.45;
    align-items: center;

}

.searchIcon {
    background-color: rgb(247, 247, 247);
    color: rgb(150, 145, 145);
    padding: 10px;
    border-radius: 5px;

}


.navbar__search > input {
    border: none;
    background-color: rgb(247, 247, 247);
    height: 45px;
    width: 80%;
    border-radius: 5px;

}






.navbar__right {
    display: flex;
    flex: 0.35;
    justify-content: space-around;
    margin-right: 50px;
}


.navbar__profile {
    position: relative;
}

.profileIcon {
    color: rgb(63, 62, 62);
    max-height: 20px;
    max-width: 20px;
    padding: 2px;
}



.navbar__options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    padding: 10px;
}


.navbar__options > div {
    padding: 5px;
    font-weight: 300;

}


.navbar__profile:hover .navbar__options {
    display: block;
}


.navbar__options > div:hover {
    font-weight: 500;
}






.navbar__wishlist:hover {
    text-decoration: underline solid #b09cf0;  
}


.wishlistIcon {
    color: rgb(63, 62, 62);
    max-height: 20px;
    max-width: 20px;
    padding: 2px;
}



.navbar__bag:hover {
    text-decoration: underline solid #b09cf0;  
}


.cartIcon {
    color: rgb(63, 62, 62);
    max-height: 20px;
    max-width: 20px;
    padding: 2px;
}



.dropdown {
    position: relative;
    display: inline-block;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}



.navbar__cart {
    display: flex;
} 